.full-height-block {
    height: 99vh;
}

.global-padding {
    padding: 0 15%;
}

.login-button {
    padding: 10px 80px;
}

.link-underline {
    text-decoration: underline;
}

.main-menu-button {
    border-radius: 0;
    padding: 20px;
    width: 20%;
}

.week-bar-button {
    border-radius: 0;
    padding: 10px;
    width: 14.2%;
}

.no-round-edges-button {
    border-radius: 0;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-60 {
    width: 60%;
}

.button-color-one {
    background-color: #C2D3DA;
    color: #000000;
    border: none;
    text-align: center;
}

a.button-color-one:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #5a6268;
}

a.button-color-one-selected:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.button-color-one-selected {
    color: #fff;
    background-color: #5a6268;
    border: none;
    text-align: center;
}

.button-color-two {
    background-color: #81A2A7;
    border: none;
}

.button-color-three {
    background-color: #585A56;
    border: none;
}

.button-color-four {
    background-color: #F1F3F2;
    border: none;
}

.button-color-four {
    background-color: #272424;
    border: none;
}