*:focus {
    outline: none;
}

.full-height-block {
    height: 99vh;
}

.global-padding {
    padding: 0 15%;
}

.login-button {
    padding: 10px 80px;
}

.link-underline {
    text-decoration: underline;
}

.main-menu-button {
    border-radius: 0;
    padding: 20px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.week-bar-button {
    border-radius: 0;
    padding: 10px;
    width: 14.2%;
}

.no-round-edges-button {
    border-radius: 0;
}

.seance-button {
    color: #000;
    padding: 10px 15px;
}

.seance-button:hover {
    color: #FFF;
    padding: 10px 15px;
}

.seat-cell {
    width: 40px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 10px;
    margin: 5px;
    height: 40px;
    line-height: 40px;
}

.row-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-block {
    padding: 5px 15px;
}

.seance-type-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seat-blocked {
    background-color: #888888;
    color: #ffffff;
}

.seat-free {
    background-color: #ffffff;
    cursor: pointer;
}

.seat-vip {
    background-color: #81A2A7;
}

.seat-selected {
    background-color: #C2D3DA;
}


.w-5 {
    width: 5%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.w-90 {
    width: 90%;
}

.button-color-one {
    background-color: #C2D3DA;
    color: #FFF;
    border: none;
    text-align: center;
}

a.button-color-one:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #5a6268;
}

a.button-color-one-selected:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.button-color-one-selected {
    color: #fff;
    background-color: #5a6268;
    border: none;
    text-align: center;
}

.button-color-two {
    background-color: #81A2A7;
    border: none;
}

.button-color-two-selected {
    background-color: #5a6268;
    border: none;
}

.button-color-two:hover {
    background-color: #5a6268;
    border: none;
}

.button-color-three {
    background-color: #585A56;
    border: none;
}

.button-color-four {
    background-color: #F1F3F2;
    border: none;
}

.button-color-four {
    background-color: #272424;
    border: none;
}

.ticket-plate {
    width: 46%;
    padding: 20px;
    background-color: #C2D3DA;
    margin: 2%;
}

.large-input-field {
    width: 340px;
    margin: 10px;
}

.medium-input-field {
    width: 200px;
    margin: 10px;
}

.small-input-field {
    width: 100px;
    margin: 10px;
}

.card-input-field {
    padding: 0;
    margin: 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 38px;
    color: #495057;
    padding-left: 10px;
    width: 340px;
}

.year-input-field {
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 38px;
    color: #495057;
    margin: 10px;
    padding-left: 10px;
}

.big-digit {
    font-size: 100px;
}

.order-box {
    width: 400px;
    margin: 0 auto;
}

.inner-order-box {
    border: 3px solid #81A2A7;
    padding: 20px;
}

.order-block-wrapper {
    width: 600px;
    justify-content: center;
    margin: 0 auto;
}

.order-block {
    flex-direction: column;
    border: 2px solid #81A2A7;
    padding: 20px;
    margin: 10px;
    width: 275px;
}

.vacancy-block-wrapper {
    justify-content: center;
    margin: 0 auto;
}

.vacancy-block {
    flex-direction: row;
    padding: 20px;
    margin: 10px;
}

.vacancy-image {
    width: 300px;
}

.sign-up-input-block {
    width: 100px;
}

.sign-up-block {
    width: 430px;
    margin: 0 auto;
}

.sign-up-button {
    width: 340px;
    margin: 0 auto;
    text-align: center;
}

.without-underline {
    text-decoration: none;
}

.add-seance-button {
    margin-top: 10px;
    height: 38px;
    margin-left: 10px;
}

.delete-seance-button {
    cursor: pointer;
}

.add-button-wrapper {
    display: flex;
    justify-content: center;
}

.add-button-cross {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #ffffff;
    background-color: #28a745;
    cursor: pointer;
}

.add-button-cross-inner {
    font-size: 40px;
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
}

.seance-wrapper {
    justify-content: center;
}

.show-film-info {
    width: 350px;
}

.add-seance-select-box {
    width: 33%;
}

.cancel-delete-seance-button {
    background-color: #81A2A7;
    border: none;
}

.seance-border-delete-dialog {
    border-top: 1px dashed #dc3545;
}

.edit-film-label {
    width: 185px;
    line-height: 35px;
}

.film-table-td {
    height: 50px;
    padding-top: 20px!important;
}

.action-button {
    font-size: 30px;
}

.pencil-action-button {
    color: #81A2A7;
}